.DS_Store
*.log
*.env
.vscode/
.idea/
*.iml

/frontend/node_modules/
/frontend/build/
/frontend/.env
/frontend/.cache/
/frontend/.pnp/
/frontend/.pnp.js
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.parcel-cache/
/frontend/.next/
/frontend/.turbo/
/frontend/dist/
/frontend/.eslintcache

/backend/target/
/backend/.mvn/
/backend/mvnw
/backend/mvnw.cmd
/backend/.settings/
/backend/.classpath
/backend/.project
/backend/.factorypath
/backend/.idea/
/backend/*.iml
/backend/*.log
/backend/*.class
/backend/*.jar
/backend/*.war
/backend/*.ear
/backend/reports/
/backend/db/migration/target/
/backend/generated-sources/
/backend/build/

/backend/src/main/generated/

/log/
/tmp/
/backend/logs/
/backend/tmp/

/backend/.mvn/wrapper/maven-wrapper.jar

*.iml
.idea/

.project
.classpath
.settings/


